Repository AlexWayfer/gem_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[12d1a277340035823607e1a3ea66a111f0c25e0aea80a1ca68cf5406c8a3897bef9aa24803c6e30a7328ce0eb2cbc974]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Remove extra `include :exec` in `subtool_apply`
  .toys.rb
Due: rubocop

Update version to 0.5.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Avoid Ruby 4 in gem specs
  gem_toys.gemspec
Due: rubocop, rspec

Fix error with undefined `FileUtils`
  lib/gem_toys/template.rb
Due: rubocop, rspec

Update `alt_memery` to a fixed version
  gem_toys.gemspec
Due: rubocop, rspec

Update version to 0.6.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Improve documentation about `:unreleased_title` option
  README.md
Due: remark

Gently abort when `unreleased_title` not found
  lib/gem_toys/template/common_code.rb
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Update version to 0.6.1
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Add documentation about `:version_file_path` option
  README.md
Due: remark

Change date format for `versions` tool
  lib/gem_toys/template/common_code.rb
Due: rubocop, rspec

Add `:changelog_file_name` option
  README.md
  lib/gem_toys/template.rb
  lib/gem_toys/template/common_code.rb
  lib/gem_toys/template/release.rb
Due: remark, rubocop, rspec

Add `:version_tag_prefix` option
  README.md
  lib/gem_toys/template.rb
  lib/gem_toys/template/release.rb
Due: remark, rubocop, rspec

Take out logic about changelog and git from `release` tool
  lib/gem_toys/template/release.rb
  lib/gem_toys/template/release/changelog.rb
  lib/gem_toys/template/release/git.rb
Due: rubocop, rspec

Update version to 0.7.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Fix error about non-renamed `version` in one of aborts
  lib/gem_toys/template/release/changelog.rb
Due: rubocop, rspec

Improve Regexp for date of existing release
  lib/gem_toys/template/release/changelog.rb
Due: rubocop, rspec

Update version to 0.7.1
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Replace custom confirmation with `HighLine::Menu`
  gem_toys.gemspec
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Add `refresh` answer for release confirmation
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Update version to 0.8.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Lock RuboCop version better
  gem_toys.gemspec
Due: rubocop, rspec

Fix built gem version after `refresh` answer
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Resolve RuboCop offenses
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Update version to 0.10.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Resolve new offenses from RuboCop
  lib/gem_toys/template/release/changelog.rb
Due: rubocop, rspec

Update version to 0.9.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Parse as JSON only JSON responses (from RubyGems.org)
  lib/gem_toys/template/common_code.rb
Due: rubocop, rspec

Change default for `unreleased` in Changelog
  CHANGELOG.md
  README.md
  lib/gem_toys/template.rb
Due: remark, rubocop, rspec

Process cases with non-JSON String from RubyGems.org
  lib/gem_toys/template/common_code.rb
  lib/gem_toys/template/versions.rb
Due: rubocop, rspec

Update version to 0.11.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Revert version file changes at changelog fails
  lib/gem_toys/template/release/changelog.rb
Due: rubocop, rspec

Revert version and changelog files changes at rejection
  lib/gem_toys/template/release.rb
  lib/gem_toys/template/release/changelog.rb
Due: rubocop, rspec

Update version to 0.12.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Resolve RuboCop offense
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Fix new version for git staff after manual refresh
  lib/gem_toys/template/common_code.rb
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Update version to 0.11.1
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec
