Repository AlexWayfer/gem_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Replace `require:` with `plugins:` for RuboCop plugins
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offense about private constants
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: none

Update Toys dependencies
  Gemfile
  gem_toys.gemspec
Due: rubocop, rspec

Update version to 0.15.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Replace `alias_tool` with `delegate_relative:`
  .toys.rb
  README.md
  lib/gem_toys/template/versions.rb
Due: remark, rubocop, rspec

Update `toys-core` in `.gemspec`
  gem_toys.gemspec
Due: rubocop, rspec

Update version to 0.16.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Try to detect dependencies version in `.gemspec` by Renovate
  renovate.json
Due: none

Revert "Try to detect dependencies version in `.gemspec` by Renovate"
  renovate.json
Due: none

Try Dependabot
  .github/dependabot.yml
Due: none

Try to work-around bug in Dependabot
  gem_toys.gemspec
Due: rubocop, rspec

Update RuboCop dependency
  Gemfile
Due: rubocop, rspec

Resolve new Bundler deprecation warning
  .cirrus.yaml
Due: none

Allow Ruby 4.0
  .cirrus.yaml
  gem_toys.gemspec
Due: rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Update `alt_memery` to version 3.0
  gem_toys.gemspec
Due: rubocop, rspec

Drop Ruby 3.0, 3.1, 3.2 and 3.3 support
  .cirrus.yaml
  .rubocop.yml
  gem_toys.gemspec
Due: rubocop, rspec

Disable `pry-byebug` requiring in spec helper
  spec/spec_helper.rb
Due: rubocop, rspec

Update version to 1.0.1
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Resolve `remark` offense in CHANGELOG
  CHANGELOG.md
Due: remark

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
Due: rubocop, rspec

Return Ruby 3.2 and 3.3 support
  .cirrus.yaml
  .rubocop.yml
  gem_toys.gemspec
Due: rubocop, rspec

Update version to 1.0.2
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Try to fix Dependabot
  .github/dependabot.yml
Due: none

Add Depfu badge into README
  README.md
Due: remark

Convert Cirrus CI config into GH Actions
  .cirrus.yaml
  .github/workflows/ci.yml
Due: none

Replace Cirrus CI badge with GH Actions
  README.md
Due: remark

Try to fix Dependabot (again)
  .github/dependabot.yml
Due: none

Change versioning strategy for Dependabot
  .github/dependabot.yml
Due: none

Revert "Change versioning strategy for Dependabot"
  .github/dependabot.yml
Due: none

Update version to 1.1.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Lock `simplecov` on minor version
  Gemfile
Due: rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
