Repository AlexWayfer/gem_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Fix version for gem staff after manual refresh too
  lib/gem_toys/template/release.rb
  lib/gem_toys/template/release/git.rb
Due: rubocop, rspec

Update version to 0.11.2
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Resolve RuboCop offense, take out manual check menu choices
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Update version to 0.11.3
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Remove extra `manual_check_menu` private method
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Enable `rubygems_mfa_required`
  gem_toys.gemspec
Due: rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
  gem_toys.gemspec
  lib/gem_toys/template/release/git.rb
Due: remark, rubocop, rspec

Update Faraday to v2
  gem_toys.gemspec
  lib/gem_toys/template/common_code.rb
Due: rubocop, rspec

Update version to 0.12.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  gem_toys.gemspec
Due: rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Update version to 0.12.1
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  gem_toys.gemspec
  spec/spec_helper.rb
Due: rubocop, rspec

Add newlines to Cirrus CI config file
  .cirrus.yaml
Due: none

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: none

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: none

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  gem_toys.gemspec
Due: rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  gem_toys.gemspec
Due: rubocop, rspec

Add missing runtime `toys-core` dependency
  gem_toys.gemspec
Due: rubocop, rspec

Update `toys` and `toys-core`
  Gemfile
  gem_toys.gemspec
Due: rubocop, rspec

Update version to 0.13.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Fix `release` change for CHANGELOG
  lib/gem_toys/template/release/changelog.rb
Due: rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  gem_toys.gemspec
Due: rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: none

Update version to 0.14.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Switch to Renovate
  README.md
  renovate.json
Due: remark

Reconfigure Renovate bot
  renovate.json
Due: none

Try to fix `matchPackageNames` in Renovate configuration
  renovate.json
Due: none

Replace `config:base` with `config:recommended` for Renovate configuration
  renovate.json
Due: none

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec

Replace `require:` with `plugins:` for RuboCop plugins
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offense about `spec.add_runtime_dependency`
  gem_toys.gemspec
Due: rubocop, rspec

Resolve new RuboCop offense about private constants
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
