Repository AlexWayfer/gem_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Update `.gitignore` file
  .gitignore
Due: remark, rubocop, rspec

Add links for Cirrus and Depfu badges, fix link to LICENSE
  README.md
Due: remark

Update "Development" section of README
  README.md
Due: remark

Add support for Ruby 2.4
  .cirrus.yml
  .rubocop.yml
  gem_toys.gemspec
Due: remark, rubocop, rspec

Update version to 0.3.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Actualize "Development" section in README for `toys` instead of `rake`
  README.md
Due: remark

Use `include :bundler` in toys
  .toys.rb
  gem_toys.gemspec
Due: rubocop, rspec

Update RuboCop config to a new template
  .rubocop.yml
Due: rubocop

Update dependencies
  gem_toys.gemspec
Due: rubocop, rspec

Pass arguments to `rspec` and `rubocop` tools
  .toys.rb
  CHANGELOG.md
Due: remark, rubocop

Report RuboCop and RSpec results for GitHub annotations
  .cirrus.yml
Due: remark, rubocop, rspec

Test GitHub annotations from Cirrus CI
  .rubocop.yml
  lib/gem_toys/template.rb
  lib/gem_toys/version.rb
  spec/gem_toys/version_spec.rb
  spec/spec_helper.rb
Due: rubocop, rspec

Test GitHub annotations from Cirrus CI
  lib/gem_toys/version.rb
  spec/gem_toys/version_spec.rb
Due: rubocop, rspec

Update bundle, resolve new RuboCop offenses
  gem_toys.gemspec
  lib/gem_toys/template.rb
Due: rubocop, rspec

Improve version update script
  lib/gem_toys/template.rb
Due: rubocop, rspec

Update version to 0.4.0
  CHANGELOG.md
  lib/gem_toys/version.rb
Due: remark, rubocop, rspec

Drop Ruby 2.4 support
  .cirrus.yml
  .rubocop.yml
  gem_toys.gemspec
Due: remark, rubocop, rspec

Drop RSpec and RuboCop toys
  .cirrus.yml
  .toys.rb
Due: remark, rubocop, rspec

Update all `remark` packages
  .remarkrc.yaml
  package.json
Due: remark

Update RuboCop and its plugins
  gem_toys.gemspec
Due: rubocop, rspec

Add `releases` tool (with `versions` alias)
  .rubocop.yml
  gem_toys.gemspec
  lib/gem_toys/template.rb
  lib/gem_toys/template/releases.rb
Due: rubocop, rspec

Take out `release` tool into separate internal template
  lib/gem_toys/template.rb
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Add `version` tool
  lib/gem_toys/template.rb
  lib/gem_toys/template/common_code.rb
  lib/gem_toys/template/releases.rb
Due: rubocop, rspec

Rename `releases` tool to `versions` (by default)
  lib/gem_toys/template.rb
  lib/gem_toys/template/versions.rb
Due: rubocop, rspec

Print unreleased local version in `versions` tool
  lib/gem_toys/template.rb
  lib/gem_toys/template/common_code.rb
  lib/gem_toys/template/versions.rb
Due: rubocop, rspec

Fix syntax for Ruby 2.5
  lib/gem_toys/template.rb
Due: rubocop, rspec

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Ignore `.ruby-version` by git
  .gitignore
Due: remark, rubocop, rspec

Merge inherited `Include` and `Exclude` in RuboCop config
  .rubocop.yml
Due: rubocop

Use `Memery` instead of `@foo ||=`
  gem_toys.gemspec
  lib/gem_toys/template/common_code.rb
Due: rubocop, rspec

Print git diff for files which will be commited on `release`
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Rename `version` argument for `release` tool to `new_version`
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Add an ability to release new major, minor or patch version
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Clear memery cache for `current_version` inside `handle_new_version`
  lib/gem_toys/template/release.rb
Due: rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
